@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import*/
@import "flowbite";

/* Custom CSS */
@font-face {
 font-family: 'RobotoMono';
 src: url('/fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
 font-weight: 100 900; /* supports weights from 100 to 900 */
 font-style: normal; 
}

@font-face {
  font-family: 'Staatliches';
  src: url('/fonts/Staatliches-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}